<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KwateeEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADADE73C1C248B690044F337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADADE74D1C248B690044F337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADADE7581C248B690044F337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
